@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-semibold text-5xl py-2;
  }

  h2 {
    @apply font-semibold text-4xl py-2;
  }

  h3 {
    @apply font-semibold text-3xl;
  }

  h4 {
    @apply font-semibold text-2xl;
  }
  a {
    @apply cursor-pointer hover:cursor-pointer;
  }

  .markdown a {
    @apply font-mono bg-GRAY_HEAVY dark:bg-white py-[2px] px-1.5 rounded-md text-xs text-white dark:text-BLACK hover:bg-BLACK dark:hover:bg-GRAY_HEAVY;
  }

  .markdown h1,
  .markdown h2 {
    @apply pt-4 pb-2;
  }

  .markdown h3,
  .markdown h4 {
    @apply pt-4 pb-2;
  }

  strong {
    @apply font-semibold;
  }

  em {
    @apply text-GRAY_HEAVY;
  }

  code {
    @apply bg-GRAY_LIGHT dark:bg-GRAY_EXTRAHEAVY  py-[2px] px-1.5 rounded-md text-xs font-medium text-PRIMARY_HEAVY dark:text-PRIMARY;
  }

  blockquote {
    @apply bg-GRAY_LIGHT py-4 px-6 my-2 rounded-md w-full dark:bg-GRAY_EXTRAHEAVY;
  }

  ul,
  ol {
    @apply flex flex-col gap-2 py-2 ml-4 list-outside list-disc;
  }

  li ul {
    @apply pt-2;
  }
}

@layer components {
  .container {
    @apply max-w-4xl mx-auto px-4 py-8;
  }
  
  .contact-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    color: #495057;
    transition: color 0.3s;
    overflow: hidden;
  }

  .contact-item::before,
  .contact-item::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    transition: all 0.3s;
  }

  .contact-item::before {
    background-color: white;
    z-index: -2;
  }

  .contact-item::after {
    border: 2px solid transparent;
    z-index: -1;
  }

  .contact-item:hover {
    color: white;
  }

  .contact-item:hover::before {
    background-color: #495057;
  }

  .contact-item:hover::after {
    border-color: white;
    border-top-color: #495057;
    animation: spin 1.5s linear infinite;
  }

  .contact-item svg {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    transition: transform 0.3s;
  }

  .contact-item:hover svg {
    transform: scale(1.0);
  }

  /* 메일 아이콘 특별 처리 */
  .email-icon svg {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
  }

  /* GitHub와 블로그 아이콘 특별 처리 */
  .github-icon svg,
  .blog-icon svg {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}